

<html>

<body>

   <head>
	 <title>error</title>
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   </head>


  <center><p> Ipaddress Country Information </p></center>

  
  
  <h1><center> {{ msg }} </center></h1>
  
  <a href="/"><center>Home</center></a>

  </body>
</html>