<html>
<body>

  <head>
	 <title>index</title>
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>


  <center><p> Ipaddress Country Information </p></center>

  
  <h1><center> Usage - http://domain.com/ipaddress </center></h1>
</body>
</html>