<html>
<body>
  <center>

  	<p style="font-size: 40px;
  	          background-color: #a1d6b3;">

  	      Ipaddress Country Information
  	</p>
 
  </center>

  <hr style="height:2px;border-width:0;color:gray;background-color:gray">
  
  <h1><center> Redis caching connection failed.</center></h1>
  <a style="font-size: 30px; background-color: #a1d6b3;" href="/"><center>Home</center></a>

</body>
</html>